@import "tailwindcss";

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make page fill entire screen */
html, body {
  height: 100%;
  min-height: 100%;
}

/* Background */
body {
  background: linear-gradient(
    to right,
    #000000 0%,
    #000000 45%,
    #020d1f 50%,
    #041a33 55%,
    #041a33 100%
  );

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  overflow-x: hidden;
}

/* Prevent white flash on zoom */
#__next {
  min-height: 100%;
}
