@import "tailwindcss";

body {
  min-height: 100vh;
  margin: 0;

  background: linear-gradient(
    135deg,
    #000000 0%,
    #000000 55%,
    #091944 75%,
    #01113b 100%
  );

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  color: rgb(0, 0, 0);
  overflow-x: hidden;
}
