@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: linear-gradient(
    110deg,
    #000000 0%,
    #000000 65%,
    #010a1a 80%,
    #03142c 92%,
    #041a33 100%
  );

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
