@import "tailwindcss";

body {
  min-height: 100vh;
  margin: 0;

  background: linear-gradient(
    135deg,
    #000000 0%,
    #000000 55%,
    #0f286b 75%,
    #071b52 100%
  );

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  overflow-x: hidden;
}
