@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(
    120deg,
    #000000 60%,
    #000000 70%,
    #021025 85%,
    #062247 100%
  );
  background-attachment: fixed;
}
